@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Use the color directly instead of using theme() function */
@layer base {
  body {
    color: #343A40; /* Using the hex value for secondary.800 directly */
    background-color: #F9E5C7;
  }
}

@layer components {
  .container-narrow {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .container-wide {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .card {
    @apply bg-white rounded-lg shadow p-6 transition;
  }
  
  .card-hover {
    @apply hover:shadow-md;
  }
}

:root {
  --foreground: #171717;
  --background: #F9E5C7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}